a{color:#000;text-decoration: none;}
a:hover{text-decoration: none;color:#bd3a5b}

a.white{color:#fff;}
a.white:hover{text-decoration: none;color:#fff}
a.white:visited{text-decoration: none;color:#fff}
a.white:link{text-decoration: none;color:#fff}


body{ margin: 0px; }

.w1200 {
    width: 1200px;
    margin: 0 auto;
	padding: 0px 140px 0px 160px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.div-logo{
	width: 200px;
	padding: 0px 0px 0px 120px
}

.div-inline{ display:inline-block;} 

.nav_list {
    float: left;
    height: 90px;
    position: relative;
    width: 170px;
    text-align: right;
}

.nav_list .one {
    display: inline-block;
    font-size: 23px;
    height: 40px;
    line-height: 20px;
    margin-top: 32px;
}

#body1 .nav_list:nth-child(1) .one{color:#bf3d5f;border-bottom:2px solid #bf3d5f;line-height:20px;}
#body2 .nav_list:nth-child(2) .one{color:#bf3d5f;border-bottom:2px solid #bf3d5f;line-height:20px;}
#body3 .nav_list:nth-child(3) .one{color:#bf3d5f;border-bottom:2px solid #bf3d5f;line-height:20px;}
#body4 .nav_list:nth-child(4) .one{color:#bf3d5f;border-bottom:2px solid #bf3d5f;line-height:20px;}

.nav_list .one .div-top {
    text-align:center;
}

.nav_list .one .div-bottom {
    text-align:center;
	font-size:12px;
}

.div-brief{
	height: 777px;
	background-color: #CA587A;
}

.div-brief .content{
	width: 1200px;
	margin:0 auto;
	color:white;
}

.div-brief .content .title{
	padding:0px 0px 0px 140px;
}

.div-brief .content .title .top{
	font-size: 40px;
    height: 60px;
    line-height: 40px;
	padding:40px 0px 0px 0px;
}

.div-brief .content .title .bottom{
	font-size: 18px;
    height: 44px;
    line-height: 18px;
	letter-spacing:6px;
	padding:0px 0px 0px 20px;
}

.R{
	font-size: 20px;
	display: inline-block;
	height:20px;
	line-height: 20px;
	vertical-align:top;
}

.R1{
	font-size: 12px;
	display: inline-block;
	height:24px;
	line-height: 12px;
	vertical-align:top;
	padding:4px 0px 0px 0px
}

.div-brief .content .picture{
	padding:0px 0px 0px 200px;
}

.div-brief .content .text{
	padding:20px 0px 0px 200px;
	font-size: 16px;
	line-height:32px;
	letter-spacing:4px;
	width:890px;
}

.div-brief .content .certificate{
	padding:50px 0px 0px 200px;
	font-size: 16px;
	line-height:32px;
	letter-spacing:4px;
}

.div-profession{
	height: 770px;
	background-color: #E3F4FE;
}

.div-profession .content{
	width: 1200px;
	margin:0 auto;
	color:#666666;
	position: relative;
}

.div-profession .content .title{
	padding: 60px 0px 0px 30px;
}

.div-profession .content .title .text{
	display: inline-block;
	width: 660px;
	vertical-align:top;
}

.div-profession .content .title .text .top{
	font-size: 20px;
    height: 30px;
    line-height: 30px;
	text-align:center;
	padding: 20px 0px 0px 0px;
	letter-spacing:2px;
}

.div-profession .content .title .text .bottom{
	font-size: 40px;
    height: 90px;
    line-height: 90px;
	text-align:center;
	letter-spacing:16px;
}

.R2{
	font-size: 12px;
	display: inline-block;
	height:24px;
	line-height: 12px;
	vertical-align:top;
	padding:3px 0px 0px 0px;
}

.div-profession .content .more{
	width: 1000px;
	text-align:right;
	padding:20px 0px 0px 0px;
	letter-spacing:8px;
	font-size: 20px;
}

.div-prediction{
	height: 870px;
	position: relative;
}

.div-prediction .left{
	width: calc(50% - 60px);
	height:870px;
	background-color: #EDEDED;
	display:inline-block;
	position: relative;
}

.div-prediction .right{
	background-color: #fff;
	display:inline-block;
	vertical-align:top;
	color: #4D4D4D;
}

.div-prediction .right .top{
	width:580px;
	padding: 70px 0px 0px 15px;
	font-size: 24px;
	height:24px;
	line-height: 42px;
	letter-spacing:8px;
}

.div-prediction .right .seperate{
	width:580px;
	padding: 180px 0px 0px 15px;
	font-size: 46px;
	height:46px;
	line-height: 46px;
	letter-spacing:8px;
}

.div-prediction .right .bottom{
	width:540px;
	padding: 30px 0px 0px 35px;
	font-size: 16px;
	height:24px;
	line-height: 36px;
	letter-spacing:3px;
}

.div-prediction .right .more{
	text-align:right;
	padding:420px 80px 0px 0px;
	letter-spacing:8px;
	font-size: 20px;
}

.div-prediction .right .bracket{
	position:absolute;
	top:120px;left:calc(50% + 530px);
}

.R3{
	font-size: 10px;
	display: inline-block;
	height:16px;
	line-height: 12px;
	vertical-align:top;
	padding:4px 0px 0px 0px;
}

.div-healthcare{
	height: 780px;
	background-color: #E3F4FE;
}

.div-healthcare .content{
	width: 1200px;
	margin:0 auto;
	color:#666564;
	position: relative;
}

.div-healthcare .content .left{
	display:inline-block;
	width: 240px;
	padding:486px 0px 0px 0px;
}

.div-healthcare .content .right{
	display:inline-block;
	vertical-align:top;
}

.div-healthcare .content .middle{
	display:inline-block;
	width:680px;
	height:780;
	vertical-align:top;
}

.div-healthcare .content .middle .title{
	text-align:center;
	font-size: 44px;
	height:230px;
	line-height: 280px;
	letter-spacing:24px;
}

.div-healthcare .content .middle .bottom{
	font-size: 20px;
	line-height: 42px;
	padding: 24px 0px 0px 0px;
}

.div-footer{
	height: 378px;
	background-color: #333333;
}

.div-footer .content{
	width: 1200px;
	margin:0 auto;
	color:#fff;
}

.div-footer .content .top{
	padding: 10px 0px 0px 75px;
}

.div-footer .content .top .logo{
	display:inline-block;
}

.div-footer .content .top .index{
	display:inline-block;
	padding:0px 0px 0px 470px;
	font-size: 16px;
	line-height: 100px;
	vertical-align:top;
	height:100px;
}

.div-footer .content .top .product{
	display:inline-block;
	padding:0px 0px 0px 60px;
	font-size: 16px;
	line-height: 100px;
	vertical-align:top;
	height:100px;
}

.div-footer .content .top .solution{
	display:inline-block;
	padding:0px 0px 0px 60px;
	font-size: 16px;
	line-height: 100px;
	vertical-align:top;
	height:100px;
}

.div-footer .content .top .about{
	display:inline-block;
	padding:0px 0px 0px 60px;
	font-size: 16px;
	line-height: 100px;
	vertical-align:top;
	height:100px;
}

.div-footer .content .bottom .left{
	display:inline-block;
}

.div-footer .content .bottom .right{
	display:inline-block;
	vertical-align:top;
}

.div-beian{
	height: 64px;
	background-color: #BF3D5F;
}

.div-beian .content{
	width: 1200px;
	margin:0 auto;
	color:#fff;
	padding:0px 0px 0px 100px;
}

.div-beian .content .left{
	display:inline-block;
	font-size: 10px;
	line-height: 60px;
	height:60px;
}

.div-beian .content .right{
	display:inline-block;
	font-size: 10px;
	line-height: 60px;
	height:60px;
	padding:0px 0px 0px 610px;
}

.div-wish{
	height: 770px;
	background-color: #CE587A;
}

.div-wish .content{
	width: 1200px;
	margin:0 auto;
	color:#FFF;
}

.div-wish .content .title{
	padding: 80px 0px 0px 0px;
}

.div-wish .content .title .top{
	text-align:center;
	font-size: 44px;
	line-height: 80px;
	height:80px;
}

.R4{
	font-size: 20px;
	display: inline-block;
	height:40px;
	line-height: 40px;
	vertical-align:top;
	padding:8px 0px 0px 0px;
}

.div-wish .content .title .bottom{
	text-align:center;
	font-size: 30px;
	line-height: 68px;
	height:68px;
	letter-spacing:20px;	
}

.div-wish .content .picture{
	padding: 60px 0px 0px 520px;
}

.div-about{
	height: 1660px;
	background-color: #F1F1F1;
}

.div-about .content{
	width: 1200px;
	margin:0 auto;
	color:#666666;
	position: relative;
}

.div-about .content .top{
	width: 866px;
	height:360px;
	position:absolute; 
	left:120px; 
	top:108px;
	background-color:#fff;
	padding:50px;
}

.div-about .content .top .header{
	font-size: 22px;
	line-height: 22px;
	height:22px;
	letter-spacing:6px;	
}

.div-about .content .top .body{
	font-size: 18px;
	line-height: 34px;
	height:270px;
	letter-spacing:6px;	
	padding:10px 10px 10px 10px
}

.div-about .content .top .footer{
	font-size: 28px;
	line-height: 28px;
	height:28px;
	text-align:right;
}

.R5{
	font-size: 20px;
	display: inline-block;
	height:28px;
	line-height: 20px;
	vertical-align:top;
	padding:0px 0px 0px 0px;
}

.div-about .content .bottom{
	width: 966px;
	height:920px;
	position:absolute; 
	left:120px; 
	top:660px;
}

.div-about .content .bottom .certificate{
	width: 560px;
	display:inline-block;
	vertical-align:top;
}

.div-about .content .bottom .certificate .title{
	font-size: 20px;
	height:60px;
	line-height: 60px;
	padding:0px 0px 0px 20px;
	letter-spacing:6px;	
}

.div-about .content .bottom .certificate .picture{
	
}

.div-about .content .bottom .seperate{
	display:inline-block;
	width:5px;
	height:740px;
	background-image:url('../images/seperate.png');
	background-repeat: repeat-y;
	margin: 70px 0px 0px 5px;
}

.div-about .content .bottom .value{
	display:inline-block;
	width:370px;
	vertical-align:top;
	padding: 50px 0px 0px 10px;
}

.div-about .content .bottom .value .title{
	font-size: 20px;
	height:60px;
	line-height: 60px;
	letter-spacing:6px;	
	color:#CE587B;
}

.div-about .content .bottom .value .text{
	font-size: 18px;
	height:130px;
	line-height: 30px;
}

.div-contact{
	height: 790px;
	background-color: #E6ABBD;
}

.div-contact .content{
	width: 1200px;
	margin:0 auto;
	height:100%;
	background-image:url('../images/contact_bg.png');
	position: relative;
}

.div-characteristic{
	height: 740px;
	background-color: #CE587A;
}

.div-characteristic .content{
	width: 1200px;
	margin:0 auto;
	height:100%;
	color:white;	
}

.div-characteristic .content .title{
	font-size: 40px;
	height:80px;
	line-height: 80px;
	padding: 60px 0px 0px 0px;
	text-align:center;
}

.R6{
	font-size: 20px;
	display: inline-block;
	height:38px;
	line-height: 20px;
	vertical-align:top;
	padding:20px 0px 0px 0px;
}

.div-characteristic .content .subtitle{
	font-size: 34px;
	height:50px;
	line-height: 50px;
	letter-spacing:16px;	
	text-align:center;
}

.div-characteristic .content .bottom .left{
	display: inline-block;
	vertical-align:top;
	padding: 120px 0px 0px 200px;
}

.div-characteristic .content .bottom .left .item{
	width: 380px;
	height:60px;
	font-size: 22px;
	line-height: 60px;
	letter-spacing:6px;
}

.div-characteristic .content .bottom .right{
	display: inline-block;
	height:350px;
	width:600px;
	vertical-align:top;
	padding: 60px 0px 0px 0px;
	position: relative;
}

.div-characteristic .content .bottom .right .video{
	width:510px;
	height:290px;	
	position: absolute;
	top:100px;
	left:50px;
}

.div-suits{
	height: 750px;
	background-color: #F2F2F2;
}

.div-suits .content{
	width: 1200px;
	margin:0 auto;
}

.div-suits .content .top{
	height:50px;
	padding:40px 0px 0px 80px;
}

.div-suits .content .top .item{
	display:inline-block;
	text-align:center;
	width:120px;
	height:50px;
	font-size: 26px;
	line-height: 50px;
	letter-spacing:8px;
	margin:0px 0px 0px 70px;
	color:#454545;
	background-color:#ccc;
}

.div-suits .content .bottom{
	position: relative;
}

.div-suits .content .bottom .chip{
	height:48px;
	width:320px;
	font-size: 30px;
	line-height: 48px;
	background-color:#CE587A;
	color:#fff;
	text-align:center;
	letter-spacing:16px;
	position:absolute;
	left:640px;
	top:138px;
}

.div-suits .content .bottom .chip-desc{
	height:48px;
	font-size: 22px;
	line-height: 48px;
	color:#000;
	text-align:center;
	letter-spacing:4px;
	position:absolute;
	left:660px;
	top:188px;
}

.div-suits .content .bottom .text{
	width:540px;
	height:270px;
	font-size: 18px;
	line-height: 42px;
	color:#000;
	letter-spacing:0px;
	position:absolute;
	left:660px;
	top:258px;
}

.R7{
	font-size: 16px;
	display: inline-block;
	height:38px;
	line-height: 20px;
	vertical-align:top;
	padding:4px 0px 0px 0px;
}

.div-story{
	height: 2520px;
	background-color: #fff;
}

.div-story .content{
	width: 1200px;
	margin:0 auto;
}

.div-story .content .item{
	padding:15px;
}