var toFixed = function (f,n) {
  return f.toFixed(n);
}

var toMembers = function( members ) {
  var array = [];
  members.forEach( function(item) {
    array.push(item.name);
  })
  return array;
}

var formatTime = function (t) {
  var date = getDate(t);
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = date.getHours()
  var minute = date.getMinutes()
  var second = date.getSeconds()

  var formatNumber = function (n) {
    n = n.toString()
    return n[1] ? n : '0' + n
  }

  return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':')
}


module.exports = {
  toFixed: toFixed,
  toMembers: toMembers,
  formatTime: formatTime
};