<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app PUBLIC
 '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
 'http://java.sun.com/j2ee/dtds/web-app_2_3.dtd'>
<web-app>
 <servlet>
  <servlet-name>main1</servlet-name>
  <servlet-class>mypack.RequestInfoServlet</servlet-class>
 </servlet>

  <servlet-mapping>
    <servlet-name>main1</servlet-name>
    <url-pattern>/main1</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>addr</servlet-name>
  <servlet-class>mypack.GetAddrServlet</servlet-class>
 </servlet>

  <servlet-mapping>
    <servlet-name>addr</servlet-name>
    <url-pattern>/addr</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>addr</welcome-file>
  </welcome-file-list>

  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/global_db</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
