odbc type = oracle
odbc string mysql = SVhTQnJ+ZHJ+eHZxQCVaTklCd3R0eUAlVVxJQjY3ODk6O0AF
last batch id = 20180302
odbc string oracle = SVhTQlJ+VHdmaHFqZDZAWk5JQnh+eHlqckBVXElCNjc4OTo7QFhOSUJ0d2hxBQ==
factory code = WH
product code = ET
paper width = 600
paper length = 170
paper left = 30
paper top = 40
print width = 600
print height = 50
bar code text height = 50
