.banner {
    width: 100%;
    height: 180px;
    background: url(../images/background.png) no-repeat center 0;
	display: block;
}

.divMain {
	width: 700px;
	margin: 0 auto;
	display: block;
}

.divItem {
	width: 700px;
	height: 100px;
	display: block;
	background: url(../images/bk1.png) no-repeat center 0;
}

.divImg {
	display: inline-block;
	width: 100px;
	height:100px;
	vertical-align:top;
}

.divContent {
	display: inline-block;
	width: 480px;
	height:90px;
	vertical-align:top;
	padding:20px 5px;
}

.divDownload {
	display: inline-block;
	width: 90px;
	height:90px;
	vertical-align:top;
	padding:40px 5px;
}

.overFlow{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.softDown{
	display:block;
	background-color: #008EE1;
	color:#FFF;
	text-align: center;
	height:32px;
	width:68px;
	line-height:32px;
	border:0px solid #027CC3;
	font-size:12px;
	text-decoration:none;
}

.softDown:hover{
	background-color: #027CC3;
}

.title {
	text-decoration:none;
	color:#000;
}

.divAdd {
	display: block;
	width: 100%;
	height:40px;
	margin:10px 0px;
}
